.Board {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  position: relative;
  margin: 0 auto;
  background-color: #000;
  background-image: linear-gradient(#333 1px, transparent 1px),
    linear-gradient(90deg, #333 1px, transparent 1px);
}
.page {
  padding-top: 20px;
}

.runbutton {
  padding: 20px;
  text-align: center;
}

button {
  height: 60px;
  width: 150px;
  border: black;
  border-radius: 5px;
  background-color: rgb(165, 66, 66);
  color: white;
}

button:hover {
  border: black 1px solid;
  cursor: pointer;
}
